

.busca-form {
  display: flex;
  gap: 5px;
  width: 50%;
}

.busca-form input {
  color: #333;
  text-align: center;
  width: 100%;
  height: 40px;
  border-radius: 15px;
  font-size: 16px;
  padding: 0 10px 0 10px;
}


.busca-form input::placeholder {
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.busca-form button {
  background-color: blueviolet;
  border-radius: 4px;
  color: #000;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.busca-form button:hover{
  color: #fff;
  background-color: #000;
  border: 2px solid white;

}/* tudo que esta acima disso é o css da barra de pesquisa */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  padding: 50px;
  gap: 2rem;
  background: #333 ;
}

.app h2{
  text-align: center;
  color: white;
  border-top: solid 2px white;
  width: 80%;
  padding: 5px;
}

.filters{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.filters select{
  width: 50%;
}

.games-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(160px, 4fr));
  grid-gap: 80px;
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
}


@media (max-width: 534px) {
  .games-container{
    grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
    padding: 0;
    grid-gap: 45px;
  }
}

